$color-white: #FFF;
$color-black: #000;

$color-gray-1: #979797;
$color-gray-2: #F5F8FA;
$color-gray-3: #5C7080;
$color-dark-gray-1: #182026;
$color-cyan-1: #D3FEFF;
$color-cyan-2: #00C9CC;
$color-light-cyan: #F4F8F9;
$color-blue-1: #4D8CF1;
$color-yellow: #F8E71C;
$color-red: #DF0000;
$color-green: #7ED321;
