{% extends '@templates/layouts/admin.twig' %}

{% block title %}Create Trip{% endblock %}
{% block body_class %}page--create-trip{% endblock %}

{# Should be picked up by the parent template #}
{% set active_nav_name = 'map' %}

{% block admin_contents %}
	<form class="create-trip" action="/" method="post">
		{% include '@templates/components/create-trip-header.twig' with { title: 'Create' } only %}
		{% include '@templates/components/create-trip-form.twig' %}
	</form>
{% endblock %} {# Ends admin_contents block #}