{% extends '@templates/layouts/admin.twig' %}

{% block title %}Customers{% endblock %}
{% block body_class %}page--customers{% endblock %}

{# Should be picked up by the parent template #}
{% set active_nav_name = 'customers' %}


{% block admin_contents %}
  {# Mock table data #}
  {% set table = {
    headings: [
      {
        name: 'name',
        title: 'Name',
      },
      {
        name: 'date_joined',
        title: 'Joined',
        sortable: true,
      },
      {
        name: 'mobile',
        title: 'Mobile'
      },
      {
        name: 'email',
        title: 'Email',
      },
      {
        name: 'company',
        title: 'Company'
      },
      {
        name: 'last_activity',
        title: 'Last Activity',
      },
      {
        name: 'total_spent',
        title: 'Total Spent',
      }
    ],
    rows: [
      {
        name: 'John Doe',
        date_joined: 'Mar 15, 2019',
        mobile: '+1 917-232-1111',
        email: 'johndoe@gmail.com',
        company: 'Company ABC',
        last_activity: '3 hours ago',
        total_spent: '$10,000',
      },
      {
        name: 'John Doe',
        date_joined: 'Mar 14, 2019',
        mobile: '+1 917-232-0111',
        email: 'johndoe+2@gmail.com',
        company: 'Company 123',
        last_activity: '5 hours ago',
        total_spent: '$12,000',
      },
      {
        name: 'John Doe',
        date_joined: 'Mar 12, 2019',
        mobile: '+1 917-232-7111',
        email: 'johndoe+3@gmail.com',
        company: 'XYZ Incorporated',
        last_activity: '10 hours ago',
        total_spent: '$5,000',
      },
      {
        name: 'John Doe',
        date_joined: 'Mar 10, 2019',
        mobile: '+1 917-232-2111',
        email: 'johndoe+4@gmail.com',
        company: '555 Group of Companies',
        last_activity: 'Today',
        total_spent: '$0.0',
      },
    ]
  } %}

  <form class="create-trip" action="/" method="post">
		{% include '@templates/components/listing-header.twig' with { title: 'Customers' } only %}
    {% include '@templates/components/table.twig' with table only %}
	</form>
{% endblock %} {# Ends admin_contents block #}
