{% extends '@templates/layouts/admin.twig' %}

{% block title %}Places{% endblock %}
{% block body_class %}page--places{% endblock %}

{# Should be picked up by the parent template #}
{% set active_nav_name = 'map' %}

{% block admin_contents %}
	<div class="places">
		{% include '@templates/components/places-header.twig' %}
		{% include '@templates/components/places-list.twig' %}
	</div>
{% endblock %} {# Ends admin_contents block #}