{% set nav_items = [
	{
		name: 'home',
		title: 'Home',
		url: '/',
		icon: '/images/home.svg',
	},
	{
		name: 'businesses',
		title: 'Businesses',
		url: '/businesses.html',
		icon: '/images/briefcase.svg',
	},
	{
		name: 'customers',
		title: 'Customers',
		url: '/customers.html',
		icon: '/images/users.svg',
	}
] %}

<nav class="admin-nav">
  <div class="admin-nav__container">
    <a href="/">
      <img class="admin-nav__logo" src="/images/logo.svg" alt=""> 
    </a>
    <ul class="admin-nav__list">
      {% for item in nav_items %}
        <li class="admin-nav__item{{ item.name == active_nav_name ? ' admin-nav__item--active': '' }}">
          <a href="{{ item.url }}" class="admin-nav__link">
            <img class="admin-nav__icon" src="{{ item.icon }}" alt="">
          </a>
        </li>
      {% endfor %}
    </ul>
    <button type="button" class="button button--white">Log Out</button>
  </div>
</nav>
