<div class="billing-footer">
	<p>You can cancel at any time. Once your billing month has concluded, your account will be locked and your data kept for 90 days. During this time you can reactive your account.</p>
	<a href="/">Cancel subscription</a>
</div>