<div class="billing-block">
	<div class="billing-block__card">
		<div class="billing-block__card-title">Payment</div>
		{% include '@templates/components/billing-form.twig' %}
	</div>
	<div class="billing-block__card">
		<div class="billing-block__card-title">Billing History</div>
		{% include '@templates/components/billing-history.twig' %}
	</div>
</div>
