{# Using Empty table for templating #}
{% set table = {
	headings: [
		{ name: 'date', title: 'Date' },
		{ name: 'total', title: 'Total' },
		{ name: 'paid', title: '' }
	],
	rows: [
		{ date: '', total: '', paid: 1 },
	]
} %}

<div class="billing-history" data-customer-id="cus_FrP31lcqOIzNUp">
	{% include '@templates/components/table.twig' with table only %}
</div>
