<form class="business-settings-form">

	<div class="business-settings-form__section business-settings-form__section--upload">
		<h3 class="business-settings-form__title">Logo</h3>
		{% include '@templates/components/business-settings-upload.twig' %}
	</div>

	<div class="business-settings-form__section business-settings-form__section--details">
		<h3 class="business-settings-form__title">Details</h3>
		{% include '@templates/components/business-settings-fields.twig' %}
	</div>

</form>

{# 304 + 954 #}