<div class="business-settings-fields">

	{# Business name field #}
	<div class="business-settings-fields__input-group business-settings-fields__input-group--even">
		<div class="input-block">
			<label for="business_name">Business Name</label>
			<input type="text" id="business_name" name="business_name" placeholder="Active">
		</div>
	</div>

	{# Business category #}
	<div class="business-settings-fields__input-group business-settings-fields__input-group--even">
		<div class="input-block">
			<label for="category">Category</label>
			<input type="text" id="category" name="category" placeholder="Placeholder">
		</div>
	</div>

	{# Address and Time Zone #}
	<div class="business-settings-fields__input-group business-settings-fields__input-group--location">
		<div class="input-block input-block--icon" data-icon="pin">
			<label for="address">Address</label>
			<input type="text" id="address" name="address">
		</div>
		<div class="input-block input-block--icon" data-icon="clock">
			<label for="time_zone">Time Zone</label>
			<input type="text" id="time_zone" name="time_zone" list="timezones">
			{% include '@templates/components/timezones-datalist.twig' %}
		</div>
	</div>

	{# Currency #}
	<div class="business-settings-fields__input-group business-settings-fields__input-group--even">
		<div class="input-block">
			<label for="currency">Currency</label>
			<input type="text" id="currency" name="currency">
		</div>
	</div>

	{# Tax ID No. #}
	<div class="business-settings-fields__input-group business-settings-fields__input-group--even">
		<div class="input-block">
			<label for="tax_id_number">Tax ID Number</label>
			<input type="text" id="tax_id_number" name="tax_id_number">
		</div>
	</div>

</div>