<div class="business-settings-upload">
	<input type="file" name="logo" id="logo" class="business-settings-upload-input" hidden>
	<label for="logo" class="business-settings-upload__graphic">
		<span class="business-settings-upload__icon"></span>
		<p class="business-settings-upload__text">Upload Logo</p>
	</label>
	<div class="business-settings-upload__preview">
		<img src="" alt="" class="business-settings-upload__preview-image">
		<button class="business-settings-upload__preview-remove" type="button">&times;</button>
	</div>
</div>