<div class="dashboard-charts">
	<div class="dashboard-charts__item dashboard-charts__item--wide">
		<div class="dashboard-charts__header">
			<h3 class="dashboard-charts__heading">Sales Statistics</h3>
		</div>
		<div class="dashboard-charts__chart">
			{# Chart here #}
		</div>
	</div>
	<div class="dashboard-charts__item dashboard-charts__item--narrow">
		<div class="dashboard-charts__header">
			<h3 class="dashboard-charts__heading">Activity</h3>
		</div>
		<div class="dashboard-charts__chart">
			{# Chart here #}
		</div>
	</div>
</div>
