<div class="dashboard-donut-chart dashboard-donut-chart--loading">
	<div class="dashboard-donut-chart__chart"></div>
	<div class="dashboard-donut-chart__legend">
		<span class="dashboard-donut-chart__legend-item dashboard-donut-chart__legend-item--positive">
			Positive
		</span>
		<span class="dashboard-donut-chart__legend-item dashboard-donut-chart__legend-item--negative">
			Negative
		</span>
	</div>
	<div class="dashboard-donut-chart__loader">Loading...</div>
</div>