<div class="listing-header">
  <h1 class="admin__heading">{{ title }}</h1>
  <button type="button" class="button button--blue listing-header__add"{% if not with_add  %}disabled{% endif %} >Add</button>
</div>
