<div class="modal {{ modal_classes }}">
	<div class="modal__overlay"></div>
	<div class="modal__content">
		<div class="modal__dialog">
			{% block modal_content %}
				{# Modal content goes here #}
			{% endblock %}
		</div>
	</div>
</div>