{% set subscriptions = [
	{
		title: 'Solo',
		description: 'Great for one person team.',
		cta: 'Beta',
		active: true,
	},
	{
		title: 'Team',
		description: 'Great for one person team.',
		cta: 'Beta',
	},
	{
		title: 'Enterprise',
		description: 'Great for one person team.',
		cta: 'Beta',
	},
] %}

<div class="subscription-plans">
	<div class="subscription-plans__content">
		<h3 class="subscription-plans__header">Your Plan</h3>
		<ul class="subscription-plans__cards">
			{% for item in subscriptions %}
				<li class="subscription-plans__card{{ item.active ? ' subscription-plans__card--active' : '' }}">
					<h4 class="subscription-plans__title">{{ item.title }}</h4>
					<p class="subscription-plans__description">{{ item.description }}</p>
					<button class="button button--green subscription-plans__cta">{{ item.cta }}</button>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>