{% set options = {
	'Asia/Kabul': 'UTC +04:30 - Afghanistan (Asia/Kabul)',
	'Europe/Mariehamn': 'UTC +03:00 - Aland Islands (Europe/Mariehamn)',
	'Europe/Tirane': 'UTC +02:00 - Albania (Europe/Tirane)',
	'Africa/Algiers': 'UTC +01:00 - Algeria (Africa/Algiers)',
	'Pacific/Pago_Pago': 'UTC -11:00 - American Samoa (Pacific/Pago_Pago)',
	'Europe/Andorra': 'UTC +02:00 - Andorra (Europe/Andorra)',
	'Africa/Luanda': 'UTC +01:00 - Angola (Africa/Luanda)',
	'America/Anguilla': 'UTC -04:00 - Anguilla (America/Anguilla)',
	'Antarctica/Casey': 'UTC +08:00 - Antarctica (Antarctica/Casey)',
	'Antarctica/Davis': 'UTC +07:00 - Antarctica (Antarctica/Davis)',
	'Antarctica/DumontDUrville': 'UTC +10:00 - Antarctica (Antarctica/DumontDUrville)',
	'Antarctica/Mawson': 'UTC +05:00 - Antarctica (Antarctica/Mawson)',
	'Antarctica/McMurdo': 'UTC +12:00 - Antarctica (Antarctica/McMurdo)',
	'Antarctica/Palmer': 'UTC -03:00 - Antarctica (Antarctica/Palmer)',
	'Antarctica/Rothera': 'UTC -03:00 - Antarctica (Antarctica/Rothera)',
	'Antarctica/Syowa': 'UTC +03:00 - Antarctica (Antarctica/Syowa)',
	'Antarctica/Troll': 'UTC +02:00 - Antarctica (Antarctica/Troll)',
	'Antarctica/Vostok': 'UTC +06:00 - Antarctica (Antarctica/Vostok)',
	'America/Antigua': 'UTC -04:00 - Antigua and Barbuda (America/Antigua)',
	'America/Argentina/Buenos_Aires': 'UTC -03:00 - Argentina (America/Argentina/Buenos_Aires)',
	'America/Argentina/Catamarca': 'UTC -03:00 - Argentina (America/Argentina/Catamarca)',
	'America/Argentina/Cordoba': 'UTC -03:00 - Argentina (America/Argentina/Cordoba)',
	'America/Argentina/Jujuy': 'UTC -03:00 - Argentina (America/Argentina/Jujuy)',
	'America/Argentina/La_Rioja': 'UTC -03:00 - Argentina (America/Argentina/La_Rioja)',
	'America/Argentina/Mendoza': 'UTC -03:00 - Argentina (America/Argentina/Mendoza)',
	'America/Argentina/Rio_Gallegos': 'UTC -03:00 - Argentina (America/Argentina/Rio_Gallegos)',
	'America/Argentina/Salta': 'UTC -03:00 - Argentina (America/Argentina/Salta)',
	'America/Argentina/San_Juan': 'UTC -03:00 - Argentina (America/Argentina/San_Juan)',
	'America/Argentina/San_Luis': 'UTC -03:00 - Argentina (America/Argentina/San_Luis)',
	'America/Argentina/Tucuman': 'UTC -03:00 - Argentina (America/Argentina/Tucuman)',
	'America/Argentina/Ushuaia': 'UTC -03:00 - Argentina (America/Argentina/Ushuaia)',
	'Asia/Yerevan': 'UTC +04:00 - Armenia (Asia/Yerevan)',
	'America/Aruba': 'UTC -04:00 - Aruba (America/Aruba)',
	'Antarctica/Macquarie': 'UTC +11:00 - Australia (Antarctica/Macquarie)',
	'Australia/Adelaide': 'UTC +09:30 - Australia (Australia/Adelaide)',
	'Australia/Brisbane': 'UTC +10:00 - Australia (Australia/Brisbane)',
	'Australia/Broken_Hill': 'UTC +09:30 - Australia (Australia/Broken_Hill)',
	'Australia/Currie': 'UTC +10:00 - Australia (Australia/Currie)',
	'Australia/Darwin': 'UTC +09:30 - Australia (Australia/Darwin)',
	'Australia/Eucla': 'UTC +08:45 - Australia (Australia/Eucla)',
	'Australia/Hobart': 'UTC +10:00 - Australia (Australia/Hobart)',
	'Australia/Lindeman': 'UTC +10:00 - Australia (Australia/Lindeman)',
	'Australia/Lord_Howe': 'UTC +10:30 - Australia (Australia/Lord_Howe)',
	'Australia/Melbourne': 'UTC +10:00 - Australia (Australia/Melbourne)',
	'Australia/Perth': 'UTC +08:00 - Australia (Australia/Perth)',
	'Australia/Sydney': 'UTC +10:00 - Australia (Australia/Sydney)',
	'Europe/Vienna': 'UTC +02:00 - Austria (Europe/Vienna)',
	'Asia/Baku': 'UTC +04:00 - Azerbaijan (Asia/Baku)',
	'America/Nassau': 'UTC -04:00 - Bahamas (America/Nassau)',
	'Asia/Bahrain': 'UTC +03:00 - Bahrain (Asia/Bahrain)',
	'Asia/Dhaka': 'UTC +06:00 - Bangladesh (Asia/Dhaka)',
	'America/Barbados': 'UTC -04:00 - Barbados (America/Barbados)',
	'Europe/Minsk': 'UTC +03:00 - Belarus (Europe/Minsk)',
	'Europe/Brussels': 'UTC +02:00 - Belgium (Europe/Brussels)',
	'America/Belize': 'UTC -06:00 - Belize (America/Belize)',
	'Africa/Porto-Novo': 'UTC +01:00 - Benin (Africa/Porto-Novo)',
	'Atlantic/Bermuda': 'UTC -03:00 - Bermuda (Atlantic/Bermuda)',
	'Asia/Thimphu': 'UTC +06:00 - Bhutan (Asia/Thimphu)',
	'America/La_Paz': 'UTC -04:00 - Bolivia (America/La_Paz)',
	'America/Kralendijk': 'UTC -04:00 - Bonaire, Saint Eustatius and Saba  (America/Kralendijk)',
	'Europe/Sarajevo': 'UTC +02:00 - Bosnia and Herzegovina (Europe/Sarajevo)',
	'Africa/Gaborone': 'UTC +02:00 - Botswana (Africa/Gaborone)',
	'America/Araguaina': 'UTC -03:00 - Brazil (America/Araguaina)',
	'America/Bahia': 'UTC -03:00 - Brazil (America/Bahia)',
	'America/Belem': 'UTC -03:00 - Brazil (America/Belem)',
	'America/Boa_Vista': 'UTC -04:00 - Brazil (America/Boa_Vista)',
	'America/Campo_Grande': 'UTC -04:00 - Brazil (America/Campo_Grande)',
	'America/Cuiaba': 'UTC -04:00 - Brazil (America/Cuiaba)',
	'America/Eirunepe': 'UTC -05:00 - Brazil (America/Eirunepe)',
	'America/Fortaleza': 'UTC -03:00 - Brazil (America/Fortaleza)',
	'America/Maceio': 'UTC -03:00 - Brazil (America/Maceio)',
	'America/Manaus': 'UTC -04:00 - Brazil (America/Manaus)',
	'America/Noronha': 'UTC -02:00 - Brazil (America/Noronha)',
	'America/Porto_Velho': 'UTC -04:00 - Brazil (America/Porto_Velho)',
	'America/Recife': 'UTC -03:00 - Brazil (America/Recife)',
	'America/Rio_Branco': 'UTC -05:00 - Brazil (America/Rio_Branco)',
	'America/Santarem': 'UTC -03:00 - Brazil (America/Santarem)',
	'America/Sao_Paulo': 'UTC -03:00 - Brazil (America/Sao_Paulo)',
	'Indian/Chagos': 'UTC +06:00 - British Indian Ocean Territory (Indian/Chagos)',
	'America/Tortola': 'UTC -04:00 - British Virgin Islands (America/Tortola)',
	'Asia/Brunei': 'UTC +08:00 - Brunei (Asia/Brunei)',
	'Europe/Sofia': 'UTC +03:00 - Bulgaria (Europe/Sofia)',
	'Africa/Ouagadougou': 'UTC  00:00 - Burkina Faso (Africa/Ouagadougou)',
	'Africa/Bujumbura': 'UTC +02:00 - Burundi (Africa/Bujumbura)',
	'Asia/Phnom_Penh': 'UTC +07:00 - Cambodia (Asia/Phnom_Penh)',
	'Africa/Douala': 'UTC +01:00 - Cameroon (Africa/Douala)',
	'America/Atikokan': 'UTC -05:00 - Canada (America/Atikokan)',
	'America/Blanc-Sablon': 'UTC -04:00 - Canada (America/Blanc-Sablon)',
	'America/Cambridge_Bay': 'UTC -06:00 - Canada (America/Cambridge_Bay)',
	'America/Creston': 'UTC -07:00 - Canada (America/Creston)',
	'America/Dawson': 'UTC -07:00 - Canada (America/Dawson)',
	'America/Dawson_Creek': 'UTC -07:00 - Canada (America/Dawson_Creek)',
	'America/Edmonton': 'UTC -06:00 - Canada (America/Edmonton)',
	'America/Fort_Nelson': 'UTC -07:00 - Canada (America/Fort_Nelson)',
	'America/Glace_Bay': 'UTC -03:00 - Canada (America/Glace_Bay)',
	'America/Goose_Bay': 'UTC -03:00 - Canada (America/Goose_Bay)',
	'America/Halifax': 'UTC -03:00 - Canada (America/Halifax)',
	'America/Inuvik': 'UTC -06:00 - Canada (America/Inuvik)',
	'America/Iqaluit': 'UTC -04:00 - Canada (America/Iqaluit)',
	'America/Moncton': 'UTC -03:00 - Canada (America/Moncton)',
	'America/Nipigon': 'UTC -04:00 - Canada (America/Nipigon)',
	'America/Pangnirtung': 'UTC -04:00 - Canada (America/Pangnirtung)',
	'America/Rainy_River': 'UTC -05:00 - Canada (America/Rainy_River)',
	'America/Rankin_Inlet': 'UTC -05:00 - Canada (America/Rankin_Inlet)',
	'America/Regina': 'UTC -06:00 - Canada (America/Regina)',
	'America/Resolute': 'UTC -05:00 - Canada (America/Resolute)',
	'America/St_Johns': 'UTC -02:30 - Canada (America/St_Johns)',
	'America/Swift_Current': 'UTC -06:00 - Canada (America/Swift_Current)',
	'America/Thunder_Bay': 'UTC -04:00 - Canada (America/Thunder_Bay)',
	'America/Toronto': 'UTC -04:00 - Canada (America/Toronto)',
	'America/Vancouver': 'UTC -07:00 - Canada (America/Vancouver)',
	'America/Whitehorse': 'UTC -07:00 - Canada (America/Whitehorse)',
	'America/Winnipeg': 'UTC -05:00 - Canada (America/Winnipeg)',
	'America/Yellowknife': 'UTC -06:00 - Canada (America/Yellowknife)',
	'Atlantic/Cape_Verde': 'UTC -01:00 - Cape Verde (Atlantic/Cape_Verde)',
	'America/Cayman': 'UTC -05:00 - Cayman Islands (America/Cayman)',
	'Africa/Bangui': 'UTC +01:00 - Central African Republic (Africa/Bangui)',
	'Africa/Ndjamena': 'UTC +01:00 - Chad (Africa/Ndjamena)',
	'America/Punta_Arenas': 'UTC -03:00 - Chile (America/Punta_Arenas)',
	'America/Santiago': 'UTC -03:00 - Chile (America/Santiago)',
	'Pacific/Easter': 'UTC -05:00 - Chile (Pacific/Easter)',
	'Asia/Shanghai': 'UTC +08:00 - China (Asia/Shanghai)',
	'Asia/Urumqi': 'UTC +06:00 - China (Asia/Urumqi)',
	'Indian/Christmas': 'UTC +07:00 - Christmas Island (Indian/Christmas)',
	'Indian/Cocos': 'UTC +06:30 - Cocos Islands (Indian/Cocos)',
	'America/Bogota': 'UTC -05:00 - Colombia (America/Bogota)',
	'Indian/Comoro': 'UTC +03:00 - Comoros (Indian/Comoro)',
	'Pacific/Rarotonga': 'UTC -10:00 - Cook Islands (Pacific/Rarotonga)',
	'America/Costa_Rica': 'UTC -06:00 - Costa Rica (America/Costa_Rica)',
	'Europe/Zagreb': 'UTC +02:00 - Croatia (Europe/Zagreb)',
	'America/Havana': 'UTC -04:00 - Cuba (America/Havana)',
	'America/Curacao': 'UTC -04:00 - Curaçao (America/Curacao)',
	'Asia/Famagusta': 'UTC +03:00 - Cyprus (Asia/Famagusta)',
	'Asia/Nicosia': 'UTC +03:00 - Cyprus (Asia/Nicosia)',
	'Europe/Prague': 'UTC +02:00 - Czech Republic (Europe/Prague)',
	'Africa/Kinshasa': 'UTC +01:00 - Democratic Republic of the Congo (Africa/Kinshasa)',
	'Africa/Lubumbashi': 'UTC +02:00 - Democratic Republic of the Congo (Africa/Lubumbashi)',
	'Europe/Copenhagen': 'UTC +02:00 - Denmark (Europe/Copenhagen)',
	'Africa/Djibouti': 'UTC +03:00 - Djibouti (Africa/Djibouti)',
	'America/Dominica': 'UTC -04:00 - Dominica (America/Dominica)',
	'America/Santo_Domingo': 'UTC -04:00 - Dominican Republic (America/Santo_Domingo)',
	'Asia/Dili': 'UTC +09:00 - East Timor (Asia/Dili)',
	'America/Guayaquil': 'UTC -05:00 - Ecuador (America/Guayaquil)',
	'Pacific/Galapagos': 'UTC -06:00 - Ecuador (Pacific/Galapagos)',
	'Africa/Cairo': 'UTC +02:00 - Egypt (Africa/Cairo)',
	'America/El_Salvador': 'UTC -06:00 - El Salvador (America/El_Salvador)',
	'Africa/Malabo': 'UTC +01:00 - Equatorial Guinea (Africa/Malabo)',
	'Africa/Asmara': 'UTC +03:00 - Eritrea (Africa/Asmara)',
	'Europe/Tallinn': 'UTC +03:00 - Estonia (Europe/Tallinn)',
	'Africa/Addis_Ababa': 'UTC +03:00 - Ethiopia (Africa/Addis_Ababa)',
	'Atlantic/Stanley': 'UTC -03:00 - Falkland Islands (Atlantic/Stanley)',
	'Atlantic/Faroe': 'UTC +01:00 - Faroe Islands (Atlantic/Faroe)',
	'Pacific/Fiji': 'UTC +12:00 - Fiji (Pacific/Fiji)',
	'Europe/Helsinki': 'UTC +03:00 - Finland (Europe/Helsinki)',
	'Europe/Paris': 'UTC +02:00 - France (Europe/Paris)',
	'America/Cayenne': 'UTC -03:00 - French Guiana (America/Cayenne)',
	'Pacific/Gambier': 'UTC -09:00 - French Polynesia (Pacific/Gambier)',
	'Pacific/Marquesas': 'UTC -09:30 - French Polynesia (Pacific/Marquesas)',
	'Pacific/Tahiti': 'UTC -10:00 - French Polynesia (Pacific/Tahiti)',
	'Indian/Kerguelen': 'UTC +05:00 - French Southern Territories (Indian/Kerguelen)',
	'Africa/Libreville': 'UTC +01:00 - Gabon (Africa/Libreville)',
	'Africa/Banjul': 'UTC  00:00 - Gambia (Africa/Banjul)',
	'Asia/Tbilisi': 'UTC +04:00 - Georgia (Asia/Tbilisi)',
	'Europe/Berlin': 'UTC +02:00 - Germany (Europe/Berlin)',
	'Europe/Busingen': 'UTC +02:00 - Germany (Europe/Busingen)',
	'Africa/Accra': 'UTC  00:00 - Ghana (Africa/Accra)',
	'Europe/Gibraltar': 'UTC +02:00 - Gibraltar (Europe/Gibraltar)',
	'Europe/Athens': 'UTC +03:00 - Greece (Europe/Athens)',
	'America/Danmarkshavn': 'UTC  00:00 - Greenland (America/Danmarkshavn)',
	'America/Godthab': 'UTC -02:00 - Greenland (America/Godthab)',
	'America/Scoresbysund': 'UTC  00:00 - Greenland (America/Scoresbysund)',
	'America/Thule': 'UTC -03:00 - Greenland (America/Thule)',
	'America/Grenada': 'UTC -04:00 - Grenada (America/Grenada)',
	'America/Guadeloupe': 'UTC -04:00 - Guadeloupe (America/Guadeloupe)',
	'Pacific/Guam': 'UTC +10:00 - Guam (Pacific/Guam)',
	'America/Guatemala': 'UTC -06:00 - Guatemala (America/Guatemala)',
	'Europe/Guernsey': 'UTC +01:00 - Guernsey (Europe/Guernsey)',
	'Africa/Conakry': 'UTC  00:00 - Guinea (Africa/Conakry)',
	'Africa/Bissau': 'UTC  00:00 - Guinea-Bissau (Africa/Bissau)',
	'America/Guyana': 'UTC -04:00 - Guyana (America/Guyana)',
	'America/Port-au-Prince': 'UTC -04:00 - Haiti (America/Port-au-Prince)',
	'America/Tegucigalpa': 'UTC -06:00 - Honduras (America/Tegucigalpa)',
	'Asia/Hong_Kong': 'UTC +08:00 - Hong Kong (Asia/Hong_Kong)',
	'Europe/Budapest': 'UTC +02:00 - Hungary (Europe/Budapest)',
	'Atlantic/Reykjavik': 'UTC  00:00 - Iceland (Atlantic/Reykjavik)',
	'Asia/Kolkata': 'UTC +05:30 - India (Asia/Kolkata)',
	'Asia/Jakarta': 'UTC +07:00 - Indonesia (Asia/Jakarta)',
	'Asia/Jayapura': 'UTC +09:00 - Indonesia (Asia/Jayapura)',
	'Asia/Makassar': 'UTC +08:00 - Indonesia (Asia/Makassar)',
	'Asia/Pontianak': 'UTC +07:00 - Indonesia (Asia/Pontianak)',
	'Asia/Tehran': 'UTC +03:30 - Iran (Asia/Tehran)',
	'Asia/Baghdad': 'UTC +03:00 - Iraq (Asia/Baghdad)',
	'Europe/Dublin': 'UTC +01:00 - Ireland (Europe/Dublin)',
	'Europe/Isle_of_Man': 'UTC +01:00 - Isle of Man (Europe/Isle_of_Man)',
	'Asia/Jerusalem': 'UTC +03:00 - Israel (Asia/Jerusalem)',
	'Europe/Rome': 'UTC +02:00 - Italy (Europe/Rome)',
	'Africa/Abidjan': 'UTC  00:00 - Ivory Coast (Africa/Abidjan)',
	'America/Jamaica': 'UTC -05:00 - Jamaica (America/Jamaica)',
	'Asia/Tokyo': 'UTC +09:00 - Japan (Asia/Tokyo)',
	'Europe/Jersey': 'UTC +01:00 - Jersey (Europe/Jersey)',
	'Asia/Amman': 'UTC +03:00 - Jordan (Asia/Amman)',
	'Asia/Almaty': 'UTC +06:00 - Kazakhstan (Asia/Almaty)',
	'Asia/Aqtau': 'UTC +05:00 - Kazakhstan (Asia/Aqtau)',
	'Asia/Aqtobe': 'UTC +05:00 - Kazakhstan (Asia/Aqtobe)',
	'Asia/Atyrau': 'UTC +05:00 - Kazakhstan (Asia/Atyrau)',
	'Asia/Oral': 'UTC +05:00 - Kazakhstan (Asia/Oral)',
	'Asia/Qostanay': 'UTC +06:00 - Kazakhstan (Asia/Qostanay)',
	'Asia/Qyzylorda': 'UTC +05:00 - Kazakhstan (Asia/Qyzylorda)',
	'Africa/Nairobi': 'UTC +03:00 - Kenya (Africa/Nairobi)',
	'Pacific/Enderbury': 'UTC +13:00 - Kiribati (Pacific/Enderbury)',
	'Pacific/Kiritimati': 'UTC +14:00 - Kiribati (Pacific/Kiritimati)',
	'Pacific/Tarawa': 'UTC +12:00 - Kiribati (Pacific/Tarawa)',
	'Asia/Kuwait': 'UTC +03:00 - Kuwait (Asia/Kuwait)',
	'Asia/Bishkek': 'UTC +06:00 - Kyrgyzstan (Asia/Bishkek)',
	'Asia/Vientiane': 'UTC +07:00 - Laos (Asia/Vientiane)',
	'Europe/Riga': 'UTC +03:00 - Latvia (Europe/Riga)',
	'Asia/Beirut': 'UTC +03:00 - Lebanon (Asia/Beirut)',
	'Africa/Maseru': 'UTC +02:00 - Lesotho (Africa/Maseru)',
	'Africa/Monrovia': 'UTC  00:00 - Liberia (Africa/Monrovia)',
	'Africa/Tripoli': 'UTC +02:00 - Libya (Africa/Tripoli)',
	'Europe/Vaduz': 'UTC +02:00 - Liechtenstein (Europe/Vaduz)',
	'Europe/Vilnius': 'UTC +03:00 - Lithuania (Europe/Vilnius)',
	'Europe/Luxembourg': 'UTC +02:00 - Luxembourg (Europe/Luxembourg)',
	'Asia/Macau': 'UTC +08:00 - Macao (Asia/Macau)',
	'Europe/Skopje': 'UTC +02:00 - Macedonia (Europe/Skopje)',
	'Indian/Antananarivo': 'UTC +03:00 - Madagascar (Indian/Antananarivo)',
	'Africa/Blantyre': 'UTC +02:00 - Malawi (Africa/Blantyre)',
	'Asia/Kuala_Lumpur': 'UTC +08:00 - Malaysia (Asia/Kuala_Lumpur)',
	'Asia/Kuching': 'UTC +08:00 - Malaysia (Asia/Kuching)',
	'Indian/Maldives': 'UTC +05:00 - Maldives (Indian/Maldives)',
	'Africa/Bamako': 'UTC  00:00 - Mali (Africa/Bamako)',
	'Europe/Malta': 'UTC +02:00 - Malta (Europe/Malta)',
	'Pacific/Kwajalein': 'UTC +12:00 - Marshall Islands (Pacific/Kwajalein)',
	'Pacific/Majuro': 'UTC +12:00 - Marshall Islands (Pacific/Majuro)',
	'America/Martinique': 'UTC -04:00 - Martinique (America/Martinique)',
	'Africa/Nouakchott': 'UTC  00:00 - Mauritania (Africa/Nouakchott)',
	'Indian/Mauritius': 'UTC +04:00 - Mauritius (Indian/Mauritius)',
	'Indian/Mayotte': 'UTC +03:00 - Mayotte (Indian/Mayotte)',
	'America/Bahia_Banderas': 'UTC -05:00 - Mexico (America/Bahia_Banderas)',
	'America/Cancun': 'UTC -05:00 - Mexico (America/Cancun)',
	'America/Chihuahua': 'UTC -06:00 - Mexico (America/Chihuahua)',
	'America/Hermosillo': 'UTC -07:00 - Mexico (America/Hermosillo)',
	'America/Matamoros': 'UTC -05:00 - Mexico (America/Matamoros)',
	'America/Mazatlan': 'UTC -06:00 - Mexico (America/Mazatlan)',
	'America/Merida': 'UTC -05:00 - Mexico (America/Merida)',
	'America/Mexico_City': 'UTC -05:00 - Mexico (America/Mexico_City)',
	'America/Monterrey': 'UTC -05:00 - Mexico (America/Monterrey)',
	'America/Ojinaga': 'UTC -06:00 - Mexico (America/Ojinaga)',
	'America/Tijuana': 'UTC -07:00 - Mexico (America/Tijuana)',
	'Pacific/Chuuk': 'UTC +10:00 - Micronesia (Pacific/Chuuk)',
	'Pacific/Kosrae': 'UTC +11:00 - Micronesia (Pacific/Kosrae)',
	'Pacific/Pohnpei': 'UTC +11:00 - Micronesia (Pacific/Pohnpei)',
	'Europe/Chisinau': 'UTC +03:00 - Moldova (Europe/Chisinau)',
	'Europe/Monaco': 'UTC +02:00 - Monaco (Europe/Monaco)',
	'Asia/Choibalsan': 'UTC +08:00 - Mongolia (Asia/Choibalsan)',
	'Asia/Hovd': 'UTC +07:00 - Mongolia (Asia/Hovd)',
	'Asia/Ulaanbaatar': 'UTC +08:00 - Mongolia (Asia/Ulaanbaatar)',
	'Europe/Podgorica': 'UTC +02:00 - Montenegro (Europe/Podgorica)',
	'America/Montserrat': 'UTC -04:00 - Montserrat (America/Montserrat)',
	'Africa/Casablanca': 'UTC +01:00 - Morocco (Africa/Casablanca)',
	'Africa/Maputo': 'UTC +02:00 - Mozambique (Africa/Maputo)',
	'Asia/Yangon': 'UTC +06:30 - Myanmar (Asia/Yangon)',
	'Africa/Windhoek': 'UTC +02:00 - Namibia (Africa/Windhoek)',
	'Pacific/Nauru': 'UTC +12:00 - Nauru (Pacific/Nauru)',
	'Asia/Kathmandu': 'UTC +05:45 - Nepal (Asia/Kathmandu)',
	'Europe/Amsterdam': 'UTC +02:00 - Netherlands (Europe/Amsterdam)',
	'Pacific/Noumea': 'UTC +11:00 - New Caledonia (Pacific/Noumea)',
	'Pacific/Auckland': 'UTC +12:00 - New Zealand (Pacific/Auckland)',
	'Pacific/Chatham': 'UTC +12:45 - New Zealand (Pacific/Chatham)',
	'America/Managua': 'UTC -06:00 - Nicaragua (America/Managua)',
	'Africa/Niamey': 'UTC +01:00 - Niger (Africa/Niamey)',
	'Africa/Lagos': 'UTC +01:00 - Nigeria (Africa/Lagos)',
	'Pacific/Niue': 'UTC -11:00 - Niue (Pacific/Niue)',
	'Pacific/Norfolk': 'UTC +11:00 - Norfolk Island (Pacific/Norfolk)',
	'Asia/Pyongyang': 'UTC +09:00 - North Korea (Asia/Pyongyang)',
	'Pacific/Saipan': 'UTC +10:00 - Northern Mariana Islands (Pacific/Saipan)',
	'Europe/Oslo': 'UTC +02:00 - Norway (Europe/Oslo)',
	'Asia/Muscat': 'UTC +04:00 - Oman (Asia/Muscat)',
	'Asia/Karachi': 'UTC +05:00 - Pakistan (Asia/Karachi)',
	'Pacific/Palau': 'UTC +09:00 - Palau (Pacific/Palau)',
	'Asia/Gaza': 'UTC +03:00 - Palestinian Territory (Asia/Gaza)',
	'Asia/Hebron': 'UTC +03:00 - Palestinian Territory (Asia/Hebron)',
	'America/Panama': 'UTC -05:00 - Panama (America/Panama)',
	'Pacific/Bougainville': 'UTC +11:00 - Papua New Guinea (Pacific/Bougainville)',
	'Pacific/Port_Moresby': 'UTC +10:00 - Papua New Guinea (Pacific/Port_Moresby)',
	'America/Asuncion': 'UTC -04:00 - Paraguay (America/Asuncion)',
	'America/Lima': 'UTC -05:00 - Peru (America/Lima)',
	'Asia/Manila': 'UTC +08:00 - Philippines (Asia/Manila)',
	'Pacific/Pitcairn': 'UTC -08:00 - Pitcairn (Pacific/Pitcairn)',
	'Europe/Warsaw': 'UTC +02:00 - Poland (Europe/Warsaw)',
	'Atlantic/Azores': 'UTC  00:00 - Portugal (Atlantic/Azores)',
	'Atlantic/Madeira': 'UTC +01:00 - Portugal (Atlantic/Madeira)',
	'Europe/Lisbon': 'UTC +01:00 - Portugal (Europe/Lisbon)',
	'America/Puerto_Rico': 'UTC -04:00 - Puerto Rico (America/Puerto_Rico)',
	'Asia/Qatar': 'UTC +03:00 - Qatar (Asia/Qatar)',
	'Africa/Brazzaville': 'UTC +01:00 - Republic of the Congo (Africa/Brazzaville)',
	'Indian/Reunion': 'UTC +04:00 - Reunion (Indian/Reunion)',
	'Europe/Bucharest': 'UTC +03:00 - Romania (Europe/Bucharest)',
	'Asia/Anadyr': 'UTC +12:00 - Russia (Asia/Anadyr)',
	'Asia/Barnaul': 'UTC +07:00 - Russia (Asia/Barnaul)',
	'Asia/Chita': 'UTC +09:00 - Russia (Asia/Chita)',
	'Asia/Irkutsk': 'UTC +08:00 - Russia (Asia/Irkutsk)',
	'Asia/Kamchatka': 'UTC +12:00 - Russia (Asia/Kamchatka)',
	'Asia/Khandyga': 'UTC +09:00 - Russia (Asia/Khandyga)',
	'Asia/Krasnoyarsk': 'UTC +07:00 - Russia (Asia/Krasnoyarsk)',
	'Asia/Magadan': 'UTC +11:00 - Russia (Asia/Magadan)',
	'Asia/Novokuznetsk': 'UTC +07:00 - Russia (Asia/Novokuznetsk)',
	'Asia/Novosibirsk': 'UTC +07:00 - Russia (Asia/Novosibirsk)',
	'Asia/Omsk': 'UTC +06:00 - Russia (Asia/Omsk)',
	'Asia/Sakhalin': 'UTC +11:00 - Russia (Asia/Sakhalin)',
	'Asia/Srednekolymsk': 'UTC +11:00 - Russia (Asia/Srednekolymsk)',
	'Asia/Tomsk': 'UTC +07:00 - Russia (Asia/Tomsk)',
	'Asia/Ust-Nera': 'UTC +10:00 - Russia (Asia/Ust-Nera)',
	'Asia/Vladivostok': 'UTC +10:00 - Russia (Asia/Vladivostok)',
	'Asia/Yakutsk': 'UTC +09:00 - Russia (Asia/Yakutsk)',
	'Asia/Yekaterinburg': 'UTC +05:00 - Russia (Asia/Yekaterinburg)',
	'Europe/Astrakhan': 'UTC +04:00 - Russia (Europe/Astrakhan)',
	'Europe/Kaliningrad': 'UTC +02:00 - Russia (Europe/Kaliningrad)',
	'Europe/Kirov': 'UTC +03:00 - Russia (Europe/Kirov)',
	'Europe/Moscow': 'UTC +03:00 - Russia (Europe/Moscow)',
	'Europe/Samara': 'UTC +04:00 - Russia (Europe/Samara)',
	'Europe/Saratov': 'UTC +04:00 - Russia (Europe/Saratov)',
	'Europe/Ulyanovsk': 'UTC +04:00 - Russia (Europe/Ulyanovsk)',
	'Europe/Volgograd': 'UTC +04:00 - Russia (Europe/Volgograd)',
	'Africa/Kigali': 'UTC +02:00 - Rwanda (Africa/Kigali)',
	'America/St_Barthelemy': 'UTC -04:00 - Saint Barthélemy (America/St_Barthelemy)',
	'Atlantic/St_Helena': 'UTC  00:00 - Saint Helena (Atlantic/St_Helena)',
	'America/St_Kitts': 'UTC -04:00 - Saint Kitts and Nevis (America/St_Kitts)',
	'America/St_Lucia': 'UTC -04:00 - Saint Lucia (America/St_Lucia)',
	'America/Marigot': 'UTC -04:00 - Saint Martin (America/Marigot)',
	'America/Miquelon': 'UTC -02:00 - Saint Pierre and Miquelon (America/Miquelon)',
	'America/St_Vincent': 'UTC -04:00 - Saint Vincent and the Grenadines (America/St_Vincent)',
	'Pacific/Apia': 'UTC +13:00 - Samoa (Pacific/Apia)',
	'Europe/San_Marino': 'UTC +02:00 - San Marino (Europe/San_Marino)',
	'Africa/Sao_Tome': 'UTC  00:00 - Sao Tome and Principe (Africa/Sao_Tome)',
	'Asia/Riyadh': 'UTC +03:00 - Saudi Arabia (Asia/Riyadh)',
	'Africa/Dakar': 'UTC  00:00 - Senegal (Africa/Dakar)',
	'Europe/Belgrade': 'UTC +02:00 - Serbia (Europe/Belgrade)',
	'Indian/Mahe': 'UTC +04:00 - Seychelles (Indian/Mahe)',
	'Africa/Freetown': 'UTC  00:00 - Sierra Leone (Africa/Freetown)',
	'Asia/Singapore': 'UTC +08:00 - Singapore (Asia/Singapore)',
	'America/Lower_Princes': 'UTC -04:00 - Sint Maarten (America/Lower_Princes)',
	'Europe/Bratislava': 'UTC +02:00 - Slovakia (Europe/Bratislava)',
	'Europe/Ljubljana': 'UTC +02:00 - Slovenia (Europe/Ljubljana)',
	'Pacific/Guadalcanal': 'UTC +11:00 - Solomon Islands (Pacific/Guadalcanal)',
	'Africa/Mogadishu': 'UTC +03:00 - Somalia (Africa/Mogadishu)',
	'Africa/Johannesburg': 'UTC +02:00 - South Africa (Africa/Johannesburg)',
	'Atlantic/South_Georgia': 'UTC -02:00 - South Georgia and the South Sandwich Islands (Atlantic/South_Georgia)',
	'Asia/Seoul': 'UTC +09:00 - South Korea (Asia/Seoul)',
	'Africa/Juba': 'UTC +03:00 - South Sudan (Africa/Juba)',
	'Africa/Ceuta': 'UTC +02:00 - Spain (Africa/Ceuta)',
	'Atlantic/Canary': 'UTC +01:00 - Spain (Atlantic/Canary)',
	'Europe/Madrid': 'UTC +02:00 - Spain (Europe/Madrid)',
	'Asia/Colombo': 'UTC +05:30 - Sri Lanka (Asia/Colombo)',
	'Africa/Khartoum': 'UTC +02:00 - Sudan (Africa/Khartoum)',
	'America/Paramaribo': 'UTC -03:00 - Suriname (America/Paramaribo)',
	'Arctic/Longyearbyen': 'UTC +02:00 - Svalbard and Jan Mayen (Arctic/Longyearbyen)',
	'Africa/Mbabane': 'UTC +02:00 - Swaziland (Africa/Mbabane)',
	'Europe/Stockholm': 'UTC +02:00 - Sweden (Europe/Stockholm)',
	'Europe/Zurich': 'UTC +02:00 - Switzerland (Europe/Zurich)',
	'Asia/Damascus': 'UTC +03:00 - Syria (Asia/Damascus)',
	'Asia/Taipei': 'UTC +08:00 - Taiwan (Asia/Taipei)',
	'Asia/Dushanbe': 'UTC +05:00 - Tajikistan (Asia/Dushanbe)',
	'Africa/Dar_es_Salaam': 'UTC +03:00 - Tanzania (Africa/Dar_es_Salaam)',
	'Asia/Bangkok': 'UTC +07:00 - Thailand (Asia/Bangkok)',
	'Africa/Lome': 'UTC  00:00 - Togo (Africa/Lome)',
	'Pacific/Fakaofo': 'UTC +13:00 - Tokelau (Pacific/Fakaofo)',
	'Pacific/Tongatapu': 'UTC +13:00 - Tonga (Pacific/Tongatapu)',
	'America/Port_of_Spain': 'UTC -04:00 - Trinidad and Tobago (America/Port_of_Spain)',
	'Africa/Tunis': 'UTC +01:00 - Tunisia (Africa/Tunis)',
	'Europe/Istanbul': 'UTC +03:00 - Turkey (Europe/Istanbul)',
	'Asia/Ashgabat': 'UTC +05:00 - Turkmenistan (Asia/Ashgabat)',
	'America/Grand_Turk': 'UTC -04:00 - Turks and Caicos Islands (America/Grand_Turk)',
	'Pacific/Funafuti': 'UTC +12:00 - Tuvalu (Pacific/Funafuti)',
	'America/St_Thomas': 'UTC -04:00 - U.S. Virgin Islands (America/St_Thomas)',
	'Africa/Kampala': 'UTC +03:00 - Uganda (Africa/Kampala)',
	'Europe/Kiev': 'UTC +03:00 - Ukraine (Europe/Kiev)',
	'Europe/Simferopol': 'UTC +03:00 - Ukraine (Europe/Simferopol)',
	'Europe/Uzhgorod': 'UTC +03:00 - Ukraine (Europe/Uzhgorod)',
	'Europe/Zaporozhye': 'UTC +03:00 - Ukraine (Europe/Zaporozhye)',
	'Asia/Dubai': 'UTC +04:00 - United Arab Emirates (Asia/Dubai)',
	'Europe/London': 'UTC +01:00 - United Kingdom (Europe/London)',
	'America/Adak': 'UTC -09:00 - United States (America/Adak)',
	'America/Anchorage': 'UTC -08:00 - United States (America/Anchorage)',
	'America/Boise': 'UTC -06:00 - United States (America/Boise)',
	'America/Chicago': 'UTC -05:00 - United States (America/Chicago)',
	'America/Denver': 'UTC -06:00 - United States (America/Denver)',
	'America/Detroit': 'UTC -04:00 - United States (America/Detroit)',
	'America/Indiana/Indianapolis': 'UTC -04:00 - United States (America/Indiana/Indianapolis)',
	'America/Indiana/Knox': 'UTC -05:00 - United States (America/Indiana/Knox)',
	'America/Indiana/Marengo': 'UTC -04:00 - United States (America/Indiana/Marengo)',
	'America/Indiana/Petersburg': 'UTC -04:00 - United States (America/Indiana/Petersburg)',
	'America/Indiana/Tell_City': 'UTC -05:00 - United States (America/Indiana/Tell_City)',
	'America/Indiana/Vevay': 'UTC -04:00 - United States (America/Indiana/Vevay)',
	'America/Indiana/Vincennes': 'UTC -04:00 - United States (America/Indiana/Vincennes)',
	'America/Indiana/Winamac': 'UTC -04:00 - United States (America/Indiana/Winamac)',
	'America/Juneau': 'UTC -08:00 - United States (America/Juneau)',
	'America/Kentucky/Louisville': 'UTC -04:00 - United States (America/Kentucky/Louisville)',
	'America/Kentucky/Monticello': 'UTC -04:00 - United States (America/Kentucky/Monticello)',
	'America/Los_Angeles': 'UTC -07:00 - United States (America/Los_Angeles)',
	'America/Menominee': 'UTC -05:00 - United States (America/Menominee)',
	'America/Metlakatla': 'UTC -08:00 - United States (America/Metlakatla)',
	'America/New_York': 'UTC -04:00 - United States (America/New_York)',
	'America/Nome': 'UTC -08:00 - United States (America/Nome)',
	'America/North_Dakota/Beulah': 'UTC -05:00 - United States (America/North_Dakota/Beulah)',
	'America/North_Dakota/Center': 'UTC -05:00 - United States (America/North_Dakota/Center)',
	'America/North_Dakota/New_Salem': 'UTC -05:00 - United States (America/North_Dakota/New_Salem)',
	'America/Phoenix': 'UTC -07:00 - United States (America/Phoenix)',
	'America/Sitka': 'UTC -08:00 - United States (America/Sitka)',
	'America/Yakutat': 'UTC -08:00 - United States (America/Yakutat)',
	'Pacific/Honolulu': 'UTC -10:00 - United States (Pacific/Honolulu)',
	'Pacific/Midway': 'UTC -11:00 - United States Minor Outlying Islands (Pacific/Midway)',
	'Pacific/Wake': 'UTC +12:00 - United States Minor Outlying Islands (Pacific/Wake)',
	'America/Montevideo': 'UTC -03:00 - Uruguay (America/Montevideo)',
	'Asia/Samarkand': 'UTC +05:00 - Uzbekistan (Asia/Samarkand)',
	'Asia/Tashkent': 'UTC +05:00 - Uzbekistan (Asia/Tashkent)',
	'Pacific/Efate': 'UTC +11:00 - Vanuatu (Pacific/Efate)',
	'Europe/Vatican': 'UTC +02:00 - Vatican (Europe/Vatican)',
	'America/Caracas': 'UTC -04:00 - Venezuela (America/Caracas)',
	'Asia/Ho_Chi_Minh': 'UTC +07:00 - Vietnam (Asia/Ho_Chi_Minh)',
	'Pacific/Wallis': 'UTC +12:00 - Wallis and Futuna (Pacific/Wallis)',
	'Africa/El_Aaiun': 'UTC +01:00 - Western Sahara (Africa/El_Aaiun)',
	'Asia/Aden': 'UTC +03:00 - Yemen (Asia/Aden)',
	'Africa/Lusaka': 'UTC +02:00 - Zambia (Africa/Lusaka)',
	'Africa/Harare': 'UTC +02:00 - Zimbabwe (Africa/Harare)',
} %}

<datalist class="timezones-datalist" id="timezones">
	{% for key, title in options %}
		<option value="{{ key }}">{{ title }}</option>
	{% endfor %}
</datalist>