<div class="trip-stops">

	{% if stops is not empty %}
		{% for stop in stops %}
			<meta name="name" content="{{ stop.name }}">
			<meta name="notes" content="{{ stop.notes }}">
			<meta name="position" content="{{ stop.position }}">
		{% endfor %}
	{% endif %}

	<div class="trip-stops__grid">
		{% if not read_only %}
			<div class="trip-stops__add">
				<div class="trip-stops__aspect-ratio">
					<button class="trip-stops__add-button" type="button">
						Add Stop
					</button>
				</div>
			</div>
		{% endif %}
	</div>

	<div class="trip-stops__card trip-stops__card-template" hidden>
		<div class="trip-stops__aspect-ratio">
			<img class="trip-stops__card-image" src="https://picsum.photos/300/200" alt="">
			<div class="trip-stops__card-content">
				<div class="trip-stops__card-number"></div>
				{% if not read_only %}
					<button class="trip-stops__card-controls" type="button"></button>
					<div class="trip-stops__card-tooltip">
						<button class="trip-stops__card-tooltip__button" type="button" data-action="edit">Edit</button>
						<button class="trip-stops__card-tooltip__button" type="button" data-action="hide">Hide</button>
						<button class="trip-stops__card-tooltip__button" type="button" data-action="delete">Delete</button>
					</div>
				{% endif %}
				<div class="trip-stops__card-headings">
					<h3 class="trip-stops__card-heading"></h3>
					<p class="trip-stops__card-subheading"></p>
				</div>
			</div>
		</div>
	</div>

	{% include '@templates/components/trip-stops-modal.twig' %}

</div>