.billing-form {
	&__input-group {
		display: flex;
		justify-content: space-between;

		&:not(:first-child) {
			margin-top: 30px;
		}

		.input-block {
			margin-top: 0;

			&:first-child {
				width: calc((100% - 30px) * (434 / 600));
				flex-shrink: 0;
			}

			&:nth-child(2) {
				width: auto;
				margin-left: 30px;
			}
		}
	}

	&__expiration-inputs {
		display: inline-flex;

		.billing-form__expiration-input {
			width: 120px;

			&:not(:first-child) {
				margin-left: 12px;
			}
		}
	}
}