.billing-form {
	&__input-group {
		display: flex;
		flex-wrap: wrap;

		@include from(large) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		&:not(:first-child) {
			margin-top: 30px;
		}

		.input-block {
			margin-top: 0;

			&:first-child {
				width: 100%;
				flex-shrink: 0;

				@include from(large) {
					width: calc((100% - 30px) * (434 / 600));
				}
			}

			&:nth-child(2) {
				width: calc((100% - 10px) / 2);
				margin-top: 30px;

				@include from(large) {
					width: auto;
					margin-top: unset;
					margin-left: 30px;
				}
			}
		}
	}

	&__expiration-inputs {
		display: inline-flex;

		.billing-form__expiration-input {
			width: calc((100% - 10px) / 2);

			@include from(large) {
				width: 120px;
			}

			&:not(:first-child) {
				margin-left: 12px;
			}
		}
	}
}