.business-settings-fields {
	&__input-group {
		display: flex;
		flex-direction: column;
		margin-top: 36px;

		@include from(large) {
			flex-direction: row;
			justify-content: space-between;
		}

		.input-block {
			width: 100%;
		}

		&--even {
			@include from(large) {
				.input-block {
					width: 50%;
				}
			}
		}

		&--location {
			@include from(large) {
				.input-block:first-child {
					flex-grow: 1;
				}

				.input-block:last-child {
					width: 175px;
					flex-shrink: 0;
					margin-left: 43px;
					margin-top: 0;
				}
			}
		}
	}

	// Form overrides
	label {
		margin-bottom: 17px;
	}

	input {
		transition: box-shadow .3s;

		&:focus {
			box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
		}
	}
}