.business-settings-form {
	display: flex;
	flex-direction: column;
	margin-top: 30px;

	@include from(large) {
		flex-direction: row;
		align-items: flex-start;
	}

	&__section {
		background-color: $color-white;
		border-radius: 6px;
		padding: 18px 18px 30px;

		&--upload {
			width: 100%;
			flex-shrink: 0;

			@include from(large) {
				width: 300px;
			}
		}

		&--details {
			width: 100%;
			margin-top: 20px;

			@include from(large) {
				margin-top: 0;
				margin-left: 34px;
				flex-grow: 1;
			}
		}
	}

	&__title {
		@include font-primary;
		@include type((
			font-size: 14px,
			line-height: 18px,
		));
		color: $color-dark-gray-1;
	}
}