.business-hours {
	margin-top: 40px;

	&__title {
		@include font-primary;
		@include type((
			font-size: 14px,
			line-height: 18px,
		));
		color: $color-dark-gray-1;
	}

	&__checklist-item {
		@include type((
			font-size: 14px,
			line-height: 18px,
		));
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 30px;

		@include from(large) {
			flex-wrap: nowrap;
		}
	}

	&__checklist-contents {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 16px;

		@include from(large) {
			margin-top: 0;
		}
	}

	&__custom-checkbox {
		width: 24px;
		height: 24px;
		position: relative;
		border-radius: 6px;
		box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.07);
		margin-right: 20px;
		cursor: pointer;

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(/images/check.svg) no-repeat center;
			background-size: 10px 10px;
		}
	}

	&__hours {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;

		@include from(large) {
			flex-direction: row;
			align-items: center;
		}
	}

	&__label {
		@include font-primary-medium;
		@include type((
			font-size: 14px,
			line-height: 18px,
		));
		display: block;
		width: 90px;
		flex-shrink: 0;
		margin-right: 5px;
	}

	&__time-block {
		display: flex;
		align-items: center;
	}

	&__hours-separator {
		@include font-primary-medium;
		width: 225px;
		margin: 3px 0;
		text-align: center;

		@include from(large) {
			width: auto;
			margin: auto 15px;
		}
	}

	&__split-time-action {
		color: $color-blue-1;
		margin-left: 10px;
		cursor: pointer;
		display: none;
	}

	// Custom select overrides
	.custom-select {
		~ span {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.custom-select__toggle {
		@include type((
			font-size: 14px,
			line-height: 18px,
		));
		min-width: 100px;
	}

	.custom-select__options {
		max-height: 150px;
    overflow: auto;
	}

	.custom-select__options {
		@include type((
			font-size: 14px,
			line-height: 18px,
		));
		white-space: nowrap;
	}

	.custom-select__caret {
		display: none;
	}
}

/**
 * Toggle behaviours
 */

// Day checkbox
.business-hours__day-checkbox:not(:checked) {
	~ .business-hours__custom-checkbox::after {
		display: none;
	}

	~ .business-hours__label {
		opacity: .2;
	}

	~ .business-hours__checklist-contents {
		opacity: .2;
		pointer-events: none;

		& .business-hours__time-block---second,
		& .business-hours__hours-separator,
		& [data-action="add"][data-action="add"] {
			display: none;
		}
	}
}

// Split time toggle
.business-hours__split-time {
	&:not(:checked) {
		~ .business-hours__hours {
			& .business-hours__hours-separator,
			& .business-hours__time-block---second {
				display: none;
			}
		}

		~ .business-hours__hours [data-action="add"] {
			display: inline-block;
		}
	}

	&:checked ~ .business-hours__hours [data-action="remove"] {
		display: inline-block;
	}
}