.dashboard-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 30px;
	margin-top: 20px;

	&__card {
		border-radius: 6px;
		background-color: $color-white;
		padding: 20px 30px;

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-title {
			@include font-primary;
			@include type((
				font-size: 14px,
				line-height: 18px,
			));
		}

		&-icon {
			height: 20px;
		}

		&-value {
			@include font-primary;
			@include type((
				font-size: 36px,
				line-height: 43px,
			));
			margin-top: 5px;
			color: $color-blue-1;

      .dashboard-cards__card--currency & {
        color: $color-green;
      }
		}
	}
}
