$grid-width: unquote("((100% - 90px) / 4)");

.dashboard-charts {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 0 10px;
	overflow: auto;

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__heading {
		@include font-primary;
		@include type((
			font-size: 14px,
			line-height: 18px,
		));
	}

	&__item {
		position: relative;
		padding: 20px;
		background-color: $color-white;
		border-radius: 6px;

		&--wide {
			width: 100%;

			@include from(large) {
				width: calc(3 * #{$grid-width} + 60px);
			}
		}

		&--narrow {
			width: 100%;
			margin-top: 15px;

			@include from(large) {
				width: calc(#{$grid-width});
				margin-left: 30px;
				margin-top: 0;
			}
		}
	}

	// Highcharts overrides
	.highcharts-credits {
		display: none;
	}
}