.reports-lists {
	display: flex;
	flex-direction: column;
	margin-top: 28px;

	@include from(large) {
		justify-content: space-between;
		flex-direction: row;
	}

	&__card {
		display: block;
		background-color: $color-white;
		border-radius: 6px;
		padding: 18px 18px 60px;
		width: 100%;

		&:not(:first-child) {
			margin-top: 20px;

			@include from(large) {
				margin-top: 0;
			}
		}

		@include from(large) {
			width: calc((100% - 102px) / 4);
		}
	}

	&__title {
		@include font-primary;
		@include type((
			font-size: 14px,
			line-height: 18px,
		));
		color: $color-dark-gray-1;
	}

	&__links {
		margin-top: 40px;
	}

	&__links-item {
		margin-top: 28px;
	}

	&__link:link,
	&__link:active,
	&__link:visited {
		@include font-primary-medium;
		@include type((
			font-size: 16px,
			line-height: 28px,
		));
		color: $color-blue-1;
	}
}