.report-detail-table {
	margin-top: 20px;

	@include from(large) {
		margin-top: 50px;
	}

	&__header {
		display: flex;
		justify-content: space-between;

		.button {
			@include type((
				font-size: 14px,
				line-height: 18px,
			));
			padding: 12px;

			@include from(large) {
				padding: 12px 30px;
			}
		}
	}

	&__table {
		width: calc(100% + 20px);
		margin-left: -10px;
		overflow: auto;
		padding: 0 10px;
	}

	.table {
		width: 300%;
		margin-top: 40px;
		padding-bottom: 40px;
	}
}