.subscription-plans {
	margin-top: 30px;
	background-color: $color-white;
	border-radius: 6px;
	padding: 18px 18px 40px;

	&__header {
			@include font-primary;
			@include type((
				font-size: 14px,
				line-height: 18px,
			));
	}

	&__cards {
		display: flex;
		justify-content: center;
		margin-top: 25px;
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 270px;
		height: 204px;
		padding: 20px;
		border: 1px solid $color-blue-1;
		border-radius: 4px;
		opacity: .2;

		&--active {
			opacity: 1;
		}

		&:not(:first-child) {
			margin-left: 70px;
		}
	}

	&__title {
		@include type((
			font-size: 18px,
		));
	}

	&__description {
		width: 100%;
		text-align: center;
	}

	&__cta {
		box-shadow: none;
		align-self: flex-end;
	}
}